
# --- Tools / binaries ---
tools/

# --- Audio temporaires / exports ---
*.wav
*.mp3
*.ogg
*.flac
*.aiff
*.aif

# --- Logs ---
*.log

# --- IDE ---
.vscode/
.idea/

### Python cache ###
__pycache__/
*.py[cod]
*.pyo
*.pyd

### Environnements virtuels ###
.venv/
.venv-build/
venv/

### Builds / packaging ###
build/
dist/
releases/
AppDir/
squashfs-root/
*.spec
*.AppImage

### Checksums ###
*.sha256
*.sha256sum
SHA256SUMS*.txt

### Archives de release ###
*.zip
*.tar.gz
*.dmg
*.exe

### Fichiers personnels ###
*.odt
*.pdf
.~lock.*

### macOS ###
.DS_Store

### Win ###
Thumbs.db
